@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

.board{
    background-color: rgb(41, 155, 126);
    font-family: sans-serif;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    height: 75vh;
    width: 65vw;
}

#grid {
    height: 75vh;
    width: 65vw;
    display: flex;
}

.column {
    height: 25%;
    width: 25%;
}

.row {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 60%;
    width: 60%;
    margin: 4px;
}

.yellows-turn {
    background-color: yellow;
}

.reds-turn {
    background-color: red;
}

button {
    background-color: rgb(41, 155, 126);
    color: white;
    padding: 15px;
}

#game-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Garamond, sans-serif;
    color: darkslategray;
    margin: auto;
    height: 200px;
    width: 300px;
    
}

#current-player {
    font-size: medium;
    
}
